@import '../../styles/app.scss';

.sideBar {
  background-color: $backGroundWhite;
  width: 120px;
  max-width: 170px;
  height: 100vh;
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  .menu {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span + span {
      margin-left: 8px;
    }
  }
}

.sideBar:hover {
  width: 170px;
}
